a:link {	color:black;text-decoration: none;}
a:visited {
	color:black;
    text-decoration: none;}
a:hover {
	color:black;
    text-decoration: underline;}
a:active {
	color:black;
    text-decoration: underline;}
img {
    border-radius: 10px;}
table {
    font-family: arial, sans-serif;
    margin-top: 15px;
    text-align: center;
    width: 100%;}
td, th {
   	font-family: arial, sans-serif;
    text-align: center;
    padding: 8px;}
.footer h4{
	padding: 50px;}
div.gallery {
	background-color: white;
    border: 1px solid #ccc;}
div.gallery:hover {
    border: 1px solid #777;}
div.gallery img {
    width: 100%;
    height: auto;}
div.desc {
    padding: 15px;
    text-align: center;}
* {
    box-sizing: border-box;}
.responsive {
    padding: 0 6px;
    float: left;
    width: 33%;}
@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;   }
}
@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }}
.clearfix:after {
    content: "";
    display: table;
    clear: both;}